/* Navbar */
.nav-menu {margin:0 40px;}
.nav-menu li a {padding:15px 25px;}
.search-input {width:380px;}
.add-git {padding-top:8px;margin-left:10px;}
.user-information {float:right;margin-right:12px;}

/* Register */
.register {width:330px;margin:150px auto;}

/* Login */
.login {width:330px;margin:150px auto;}